/**GLOBAL**/

.row {
    margin-bottom: 25px;
}

html {
    min-height: auto !important;
}

body {
    min-height: auto !important;
}

/**HEADER NAV**/

.navbar-brand {
    margin-right: 50px;
}

/** PRESENTATION BLOCK **/

.jumbotron {
    background: rgb(219,125,0);
    background: linear-gradient(135deg, rgba(219,125,0,0.7875525210084033) 0%, rgba(136,0,138,0.7231267507002801) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
    margin-bottom: 0% !important;
}


/** INDEX.HTML **/

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h3 {
        text-shadow: 1px 1px 2px black;
    }
}

.footer-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/** CART.HMTL **/

#cart-resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.invalid-form {
    border-color: lightcoral !important;
}

.valid-form {
    border-color: #7CB342 !important;
}

/** PRODUCT.HTML **/

#item-display {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
}

/** ANIMATIONS **/

@keyframes slide-to-left {
    0% {
        opacity: 10%;
        transform: translateX(+30%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

.store-item {
    animation: slide-to-left 1s forwards;
}